<section class="text-gray-600 body-font">
  <div class="container flex flex-wrap px-5 py-24 mx-auto">
    <div class="mx-auto lg:w-2/3">
      <div class="relative flex flex-wrap w-full px-10 py-32 mb-4 bg-gray-100">
        <img alt="gallery" class="absolute inset-0 block object-cover object-center w-full h-full opacity-25" src="https://dummyimage.com/820x340">
        <div class="relative z-10 w-full text-center">
          <h2 class="mb-2 text-2xl font-medium text-gray-900 title-font">Shooting Stars</h2>
          <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
          <a class="inline-flex items-center mt-3 text-pink-500">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-wrap -mx-2">
        <div class="w-1/2 px-2">
          <div class="relative flex flex-wrap w-full px-6 py-16 bg-gray-100 sm:py-24 sm:px-10">
            <img alt="gallery" class="absolute inset-0 block object-cover object-center w-full h-full opacity-25" src="https://dummyimage.com/542x460">
            <div class="relative z-10 w-full text-center">
              <h2 class="mb-2 text-xl font-medium text-gray-900 title-font">Shooting Stars</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="inline-flex items-center mt-3 text-pink-500">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="w-1/2 px-2">
          <div class="relative flex flex-wrap w-full px-6 py-16 bg-gray-100 sm:py-24 sm:px-10">
            <img alt="gallery" class="absolute inset-0 block object-cover object-center w-full h-full opacity-25" src="https://dummyimage.com/542x420">
            <div class="relative z-10 w-full text-center">
              <h2 class="mb-2 text-xl font-medium text-gray-900 title-font">Shooting Stars</h2>
              <p class="leading-relaxed">Skateboard +1 mustache fixie paleo lumbersexual.</p>
              <a class="inline-flex items-center mt-3 text-pink-500">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>